@page
@model RazorPages.Pages.Admin.ActiveUserModel
@{
    ViewData["Title"] = "Usuários";
    Layout = "_LayoutForm";
}


<div class="flex flex-col gap-2 bg-white border-3 rounded-sm p-5">

<h1>Usuários</h1>

<div class="flex flex-col gap-3 w-full max-w-md">
    @foreach (var user in Model.Users)
    {
        <div class="border-3 rounded-sm p-3 bg-white flex justify-between items-center">
            <div class="flex flex-col">
                <span class="text-xs text-gray-400">#@user.Id</span>
                <span class="font-bold">@user.FirstName @user.LastName</span>
                <span class="text-sm">
                    @(user.IsApproved ? "Aprovado" : "Não aprovado")
                </span>
            </div>
            <form method="post" class="border-0 py-5">
                <input type="hidden" name="userId" value="@user.Id" />
                <button type="submit">
                    @(user.IsApproved ? "Desaprovar" : "Aprovar")
                </button>
            </form>
        </div>
    }
</div>

<div class="links">
    <span><a href="/admin">Voltar</a></span>
</div>

</div>